@use '../mixins/pseudo.scss' as *;

.todo-list {
  position: relative;
  top: -2rem;
  width: 100%;
  background-color: #fff;
  border-radius: 0.5rem;
  width: 540px;
}

.task-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid #979797;
}

.task {
  display: flex;
  align-items: center;
  height: 65px;
  padding: 0 2rem;

  &__input {
    display: none;

    &:checked + .task__label::before {
      background-image: linear-gradient(
        120deg,
        hsl(192, 100%, 67%),
        hsl(280, 87%, 65%)
      );
      border: none;
    }

    &:checked + .task__label::after {
      display: block;
    }
  }

  &__label {
    position: relative;
    left: 1rem;

    &::before {
      @include pseudo(1.25rem, 1.25rem);
      left: -2rem;
      border: 1px solid gray;
      border-radius: 50%;
    }

    &::after {
      @include pseudo(1.25rem, 1.25rem);
      display: none;
      top: 0.4rem;
      left: -1.7rem;
      background-image: url(../assets/images/icon-check.svg);
      background-repeat: no-repeat;
    }
  }

  &__delete {
    position: absolute;
    right: 2rem;
  }
}

.filter-tasks {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1.5rem;
  height: 65px;
  color: #9495a5;

  &__filters {
    width: 165px;
    display: flex;
    justify-content: space-between;
  }

  &__filter {
    font-weight: bold;
    cursor: pointer;
    &--active {
      color: #3a7cfd;
    }
  }
}
